WebRole2/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53298/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53298/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SaveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CoursesCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:CoursesCompleted" />
  </wsdl:message>
  <wsdl:message name="IService1_CoursesCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoursesCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SaveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveStudent" message="tns:IService1_SaveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveStudentResponse" message="tns:IService1_SaveStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateStudent" message="tns:IService1_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateStudentResponse" message="tns:IService1_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoursesCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CoursesCompleted" message="tns:IService1_CoursesCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CoursesCompletedResponse" message="tns:IService1_CoursesCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoursesCompleted">
      <soap:operation soapAction="http://tempuri.org/IService1/CoursesCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53298/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>